<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link rel="stylesheet" href="/home.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Home Page.</h1>
      <a href="/item">Go to Items</a>
      <a href="/admin">Go to Admin Panel</a>
      <a href="/sales-history">Go to Sales History</a>
      <a href="/prediction">Go to Prediction</a>
      <a href="/api/logout" style="color: red; font-weight: bold; margin-top: 20px; display: block;">Logout</a>
    </div>
  </body>
</html>
